table td, th{
border: 1px solid gray ;
padding: 0 10px;
}
table{
    border-collapse: collapse;
}


body{
    font-family: 'Poppins', sans-serif;
   
}
h1{
    font-size: 40px;
}
.border{
    border-left: 3px solid;
    border-color: rgb(231, 81, 12);
    border-image-slice: 1;
    
    padding-left: 2%;
    padding-right: 10%;
}
.person{
    display: flex;
margin-bottom: 100px;
margin-left: 10%;
}
.forth-sec{
    display: flex;
    margin-left: 8%;
    margin-bottom: 100px;
    background-image: url(images/shapes/shape-1.png) ;
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 85% bottom;
    background-position-y: 120%;
     margin-bottom: 100px;
}
.third-sec{
    display: flex;
margin-bottom: 100px;
    background-image: url(images/shapes/shape-1.png);
background-repeat: no-repeat;
background-position: 5%;
background-position-y: 30%;
background-size: 10%;


}
.third-img{
    margin-left: 20%;
}
.second-sec{
    margin-left: 5%;
}
.image img{
    width: 40%;
    margin-left: 30%;
}
.orange{
    color: orange;
}

.button{
    text-decoration: none;
    background-color: rgb(231, 81, 12);
   padding: 5px 10px;
   border-radius: 5px;
    
}
.text-middle{
    text-align: center;
}
.second-section{
    display: flex;
    margin-bottom: 100px;  
}
.my-mission{
    box-shadow: 10px 15px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    background-color: skyblue;
padding-left: 2%;
padding-right: 2%;
width: 50%;
border-radius: 5%;

}
.photo{
    width: 50%;
    }
    .forth-photo {
        margin-left: 30%;
        width: 40%;
    }
#mission{
    background-color: pink;
}
.imo img{
    width: 40%;
    border-right: 30%;
}
.third-part{
  
   padding-right: 10%;
}
.footer{
    text-align: center;
    font-style: italic;
}
.footer-text{
    text-align: center;
}
#footer{
    background-color: orange;
}