

/* bestfriend part */
.photo-album{
    display: flex;
    flex-wrap: wrap ;
}
.photo-frame{
    height: 430px;
    width: 400px;
    border: 1px solid lightcyan;
    border-radius: 10px;
    position: relative;
    margin: 15px;
   
}
.photo-frame:hover .photo-details{
display: block;
}
.photo-details p{
    color: white;
    width: 200px;
  }
.photos img{
    width: 80%;
    border-radius: 10px;
    
}
.photo-album h3{
    background-color: palevioletred;
    color: white;
}
.photo-details{
    display: none;
  position: absolute; 
  width:350px; 
  top: 0;
  background-color: rgba(201, 159, 166, 0.5);
}
/* close */
.icon-sec{
    border: 2px dotted pink;
    width: 50%;
    margin-left: 8%;
}

li a{
    text-decoration: none;
    background-color: coral;
    padding: 5px;
    margin: 40px;
}
li:visited{
    background-color: cornsilk;
}
li{
    list-style: none;
}
.fa-brands{
   font-size: 50px;
   margin: 40px;
    
}
table td, th{
border: 1px solid gray ;
padding: 0 10px;
}
table{
    border-collapse: collapse;
}

ul {
    display: flex;
   }
li{
    padding-right: 20px;
}
a:hover{
    background-color: burlywood;
    padding: 0 10px;
    text-decoration: none;
}
li a{
    text-decoration: none;
    color: black;
}
body{
    font-family: 'Poppins', sans-serif;
   
}
h1{
    font-size: 40px;
}
.border{
    border-left: 3px solid;
    border-color: rgb(231, 81, 12);
    border-image-slice: 1;
    
    padding-left: 2%;
    padding-right: 10%;
}
.person{
    display: flex;
margin-bottom: 100px;
margin-left: 10%;
}
.forth-sec{
    display: flex;
    margin-left: 8%;
    margin-bottom: 100px;
    background-image: url(images/shapes/shape-1.png) ;
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 85% bottom;
    background-position-y: 120%;
     margin-bottom: 100px;
}
.third-sec{
    display: flex;
margin-bottom: 100px;
    background-image: url(images/shapes/shape-1.png);
background-repeat: no-repeat;
background-position: 5%;
background-position-y: 30%;
background-size: 10%;


}
.third-img{
    margin-left: 20%;
   
}
.second-sec{
    margin-left: 5%;
}

.orange{
    color: orange;
}

.button{
    text-decoration: none;
    background-color: rgb(231, 81, 12);
   padding: 5px 10px;
   border-radius: 5px;
    
}
.text-middle{
    text-align: center;
}
.second-section{
    display: flex;
    margin-bottom: 100px;  
}
.my-mission{
    box-shadow: 10px 15px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    background-color: powderblue;
padding-left: 2%;
padding-right: 2%;
width: 50%;
border-radius: 5%;
}
.hobby{
    
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(255, 187, 0) ;
padding-left: 2%;
padding-right: 2%;
width: 50%;
border-radius: 5%;

}
.photo{
    width: 50%;
    }
    .forth-photo {
        margin-left: 30%;
        width: 40%;
    }
    #hsc{
        background-color: pink;
    }
#gardening{
    background-color: plum ;
}
.imo img{
    width: 40%;
    border-right: 30%;
}
.third-part{
  
   padding-right: 10%;
   padding-top: 70px;
}
.footer{
    text-align: center;
    font-style: italic;
}
.footer-text{
    text-align: center;
}
#footer{
    background-color: orange;
}